@font-face {
    src: url(fonts/Romantiques.ttf);
    font-family: Romantique;
}
@font-face {
    src: url(fonts/Marlboro.ttf);
    font-family: Marlboro
}


h2 {
    font-family: Romantique;
}

h3 {
    font-family: Romantique;
}

.nav-link {
    font-family: Marlboro;
    font-size: x-large;
    color: black;
}

.beige {
    background-color: #ca865d;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black;
    background-color: yellow;
}

.nav-link:hover {
    color: saddlebrown;
}

